Huy/JupyterNoteBook/data/lambda-function/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu May 22 2025 14:07:16 GMT+0700 (Indochina Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="xs:schema">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="xs:element">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="xs:complexType">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="xs:sequence">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="xs:element">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="xs:complexType">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="xs:sequence">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="xs:element" maxOccurs="unbounded">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                                                                                   <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                                                                                                                   <xs:attribute name="minOccurs" type="xs:int"></xs:attribute>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                             <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                             <xs:attribute name="minOccurs" type="xs:int"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="xs:attribute">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="use" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="xmlns:xs" type="xs:string"></xs:attribute>
                     <xs:attribute name="attributeFormDefault" type="xs:string"></xs:attribute>
                     <xs:attribute name="elementFormDefault" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>